.dropdown {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 15rem;
  user-select: none;
}
.dropdown-bar {
  width: 100%;
  background-color: rgb(187, 187, 187);
  padding: 0.5rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropdown-bar .placeholder {
  color: black;
  font-size: small;
}
.dropdown-bar .dropdown-bar-icons {
  display: flex;
  gap: 0.4rem;
}
.dropdown-panel {
  width: 100%;
  background-color: rgb(187, 187, 187);
  padding: 0.5rem;
  border-radius: 0.4rem;
  max-height: 12rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.dropdown-panel .search-bar {
  width: 100%;
  outline: none;
  border: none;
  padding: 0.3rem;
  border-radius: 0.2rem;
  background-color: rgb(206, 206, 206);
  position: sticky;
  top: 0;
}
.dropdown-loader {
  width: 100%;
  margin: 0.5rem 0;
  color: gray;
  animation: loader 1s linear infinite;
  font-size: 1.2rem;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.no-records {
  text-align: center;
  font-size: x-small;
}
.dropdown-list-item {
  font-size: small;
  cursor: pointer;
}
