@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
}
.dropdown {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 15rem;
  user-select: none;
}
.dropdown-bar {
  width: 100%;
  background-color: rgb(187, 187, 187);
  padding: 0.5rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropdown-bar .placeholder {
  color: black;
  font-size: small;
}
.dropdown-bar .dropdown-bar-icons {
  display: flex;
  gap: 0.4rem;
}
.dropdown-bar .dropdown-bar-icons > * {
  cursor: pointer;
}
.dropdown-panel {
  width: 100%;
  background-color: rgb(187, 187, 187);
  padding: 0.5rem;
  border-radius: 0.4rem;
  max-height: 12rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.dropdown-panel .search-bar {
  width: 100%;
  outline: none;
  border: none;
  padding: 0.3rem;
  border-radius: 0.2rem;
  background-color: rgb(206, 206, 206);
  position: sticky;
  top: 0;
}
.dropdown-loader {
  width: 100%;
  margin: 0.5rem 0;
  color: gray;
  animation: loader 1s linear infinite;
  font-size: 1.2rem;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.centered-text {
  text-align: center;
  font-size: x-small;
}
.single-dropdown-list-item {
  font-size: small;
  cursor: pointer;
}

.multi-dropdown-list-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: small;
  cursor: pointer;
}
